 @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
 /* general styles */
 
 * {
     margin: 0px;
     padding: 0px;
     font-family: Roboto, sans-serif;
     box-sizing: border-box;
 }
 
 body {
     font-family: Roboto, sans-serif;
     background-color: #f2f4fc;
     font-size: 14px;
     line-height: 20px;
     min-height: 100%;
     margin-right: auto;
     margin-left: auto;
     display: block;
 }
 
 div {
     display: block;
 }
 
 a {
     background-color: transparent;
 }
 
 img {
     max-width: 100%;
     vertical-align: middle;
     display: inline-block;
 }
 
 h1 {
     font-size: 30px;
     line-height: 130%;
     font-weight: 700;
     text-align: center;
     color: #292e47;
     margin-top: 20px;
     margin-bottom: 30px;
 }
 
 h2 {
     font-size: 30px;
     line-height: 130%;
     font-weight: 700;
     text-align: center;
     color: #292e47;
     margin-top: 20px;
     margin-bottom: 30px;
 }
 
 h3 {
     margin: 30px 30px 20px;
     font-size: 24px;
     font-weight: 500;
     line-height: 115%;
     color: #292e47;
 }
 
 h4 {
     margin-top: 25px;
     font-size: 20px;
     color: #6b708d;
     font-weight: 500;
 }
 
 p {
     font-size: 17px;
     font-style: normal;
     font-weight: 400;
     line-height: 160%;
     color: #292e47;
     margin-top: 0px;
     margin-bottom: 10px;
 }
 
 .section-box {
     margin-top: 60px;
     padding: 0px 30px;
     box-sizing: border-box;
     max-width: 1100px;
 }
 
 .no-margin {
     margin-top: 0px;
 }
 
 .section-box-box {
     margin-right: auto;
     margin-left: auto;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
 }
 
 input {
     font: inherit;
 }
 
 li {
     list-style: none;
 }
 /* header MENU */
 
 header {
     display: block;
     top: 0;
     width: 100%;
     max-width: 1100px;
     margin-right: auto;
     margin-left: auto;
     position: relative;
 }
 
 .navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 30px;
 }
 
 .nav-box-logo {
     width: 60px;
     height: 18px;
     background-image: url(/project-assets/logos/circle.svg);
     background-position: 50% 50%;
     background-size: contain;
     background-repeat: no-repeat;
 }
 
 .nav-link {
     font-family: Roboto, sans-serif;
     font-size: 17px;
     font-weight: 500;
     color: #6b708d;
     font-size: 17px;
     font-weight: 500;
     text-decoration: none;
     padding: 20px;
 }
 
 .nav-link:hover {
     color: #0082f3;
 }
 
 .current-link {
     color: #0082f3;
 }
 /* menu desplegable */
 
 .bar {
     display: block;
     background-color: #292e47;
     width: 15px;
     height: 3px;
     margin: 2px auto;
 }
 
 .hamburger {
     display: block;
     padding: 22px;
     cursor: pointer;
 }
 
 .active-hamburger {
     background-color: #c8c8c8;
 }
 
 .nav-menu {
     position: fixed;
     top: 100%;
     left: 0;
     right: 0;
     gap: 0;
     flex-direction: column;
     background-color: #C8C8C8;
     width: 100%;
     text-align: left;
 }
 
 .active-nav-menu {
     top: 60px;
 }
 
 .nav-item {
     margin: 30px 0;
 }
 
 .active-bar {
     background-color: white;
 }
 /* 1. Section PRESENTATION */
 
 .presentation-text-content {
     display: flex;
     flex-direction: column;
     align-items: center;
     align-self: center;
     max-width: 700px;
 }
 
 .presentation-text-content p {
     text-align: center;
     max-width: 700px;
     margin-bottom: 40px;
     color: #6b708d;
 }
 
 .presentation-button-content {
     display: block;
     justify-content: flex-start;
     align-items: center;
 }
 
 .presentation-button-content a {
     font-style: normal;
     font-weight: 500;
     font-size: 17px;
     text-decoration: none;
     cursor: pointer;
     line-height: inherit;
     border-radius: 0;
     color: #6b708d;
     display: block;
     padding: 15px 30px;
     margin-bottom: 5px;
     text-align: center;
 }
 
 #touch-button {
     background-color: #072ac8;
     color: white;
     line-height: 20px;
     cursor: pointer;
     text-decoration: none;
     padding: 15px 30px;
 }
 
 .presentation-img-content {
     margin-top: 20px;
 }
 
 .presentation-img-main {
     max-width: 100%;
     width: 560px;
     vertical-align: middle;
     display: inline-block;
     border: 0;
 }
 /* 2. Section LOGOS */
 
 .logos-container {
     margin-top: 40px;
     align-items: center;
     justify-items: center;
 }
 
 .section-logos-grid {
     display: grid;
     grid-auto-columns: 1fr;
     grid-template-columns: 1fr 1fr;
     grid-column-gap: 20px;
     grid-row-gap: 16px;
     grid-template-rows: auto auto;
     align-items: center;
     justify-items: center;
 }
 
 .especific-logo {
     display: flex;
     width: 150px;
     height: 96px;
     max-height: 96px;
     max-width: 150px;
     justify-content: center;
     align-items: center;
 }
 /* 3. Section PROJECTS */
 
 .container-projects-grid {
     display: grid;
     justify-items: stretch;
     grid-auto-flow: row;
     grid-auto-columns: 1fr;
     grid-column-gap: 40px;
     grid-row-gap: 16px;
     grid-template-columns: 1fr;
     grid-template-rows: auto auto auto;
     max-width: 100%;
 }
 
 .card-project {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     flex: 1;
     width: 100%;
     max-width: 100%;
     height: 444px;
     max-height: 444px;
 }
 
 .card-project-img {
     width: 100%;
     height: 240px;
     object-fit: cover;
 }
 
 .card-project-text {
     display: flex;
     flex-direction: column;
     background-color: #fff;
     height: 100%;
 }
 
 .card-project-text p {
     margin: 0px 30px;
     margin-bottom: 10px;
     font-size: 17px;
     font-weight: 400;
     line-height: 115%;
     color: #292e47;
 }
 
 .learn-more {
     margin: 30px;
     font-size: 17px;
     font-weight: 500;
     color: #072ac8;
     text-decoration: none;
 }
 /* 4. Section CLIENT */
 
 .client-box {
     background-color: #292e47;
     background-image: url(/project-assets/testimonial-section/orbit.png);
     background-position: 50% 50%;
     background-size: cover;
     background-repeat: no-repeat;
     max-width: 1320px;
 }
 
 .section-client {
     height: 450px;
     display: flex;
     justify-content: space-around;
     flex-direction: column;
     align-items: center;
 }
 
 .section-client h2 {
     color: #ecf7ff;
     line-height: 150%;
     margin-bottom: 0px;
     max-width: 400px;
 }
 
 .section-client-text {
     max-width: 560px;
     margin-right: auto;
     margin-left: auto;
     color: #ffc600;
     font-size: 24px;
     line-height: 160%;
     font-weight: 500;
     text-align: center;
 }
 
 .section-client-image {
     display: flex;
     align-items: center;
 }
 
 .rounded-client-img {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     background-image: url(/project-assets/testimonial-section/profile.png);
     background-position: 50% 50%;
     background-size: cover;
     background-repeat: no-repeat;
 }
 
 .client-data {
     display: flex;
     margin-left: 10px;
     flex-direction: column;
     justify-content: space-around;
 }
 
 .client-data h4 {
     color: #a2d6f9;
     font-size: 17px;
 }
 
 .client-data p {
     color: #ecf7ff;
     font-size: 13px;
 }
 /* 5. Section SERVICES */
 
 .section-box-services {
     margin-top: 40px;
 }
 
 .services-grid {
     display: grid;
     grid-auto-columns: 1fr;
     grid-column-gap: 40px;
     grid-row-gap: 16px;
     margin-top: 20px;
     grid-template-columns: 1fr;
     grid-template-rows: auto auto auto;
 }
 
 .services-card {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     background-color: #fff;
     max-width: 100%;
 }
 
 .services-icon {
     width: 80px;
     height: 80px;
     margin-top: 40px;
     margin-left: 40px;
     padding-bottom: 0px;
     padding-left: 0px;
     border-radius: 50%;
     background-color: #ecf7ff;
     background-position: 50% 50%;
     background-size: auto;
     background-repeat: no-repeat;
     right: auto;
     bottom: auto;
 }
 
 .icon-1 {
     background-image: url(project-assets/services-section/icons/1.svg);
 }
 
 .icon-2 {
     background-image: url(project-assets/services-section/icons/2.svg);
 }
 
 .icon-3 {
     background-image: url(project-assets/services-section/icons/3.svg);
 }
 
 .services-text {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }
 
 .services-text p {
     margin: 0px 30px 10px;
     line-height: 115%;
 }
 /* 6. Section FORM */
 
 .section-form {
     background-color: #ffc600;
     height: 500px;
     max-width: 1320px;
 }
 
 .section-form-in {
     display: flex;
     height: 100%;
     max-width: 100%;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 .section-form-in h2 {
     text-align: left;
 }
 
 .section-form-in p {
     font-size: 17px;
     color: #6b708d;
 }
 
 .form-buttons-box {
     margin-top: 50px;
 }
 
 .form-buttons {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 .imput-text-button {
     position: relative;
 }
 
 .imput-text-button-icon {
     position: absolute;
     left: 8%;
     top: 27%;
     right: auto;
     bottom: auto;
     width: 30px;
     height: 30px;
     background-image: url(/project-assets/newsletter/icon/mail.svg);
     background-position: 50% 50%;
     background-size: auto;
     background-repeat: no-repeat;
 }
 
 .imput-text-button input {
     height: 80px;
     margin-bottom: 0px;
     padding-left: 70px;
     background-color: #ecf7ff;
     color: #292e47;
 }
 
 .imput-text-button-text {
     font-size: 14px;
     line-height: 1.42857143;
     display: block;
     padding: 8px 12px;
     border: 1px solid #cccccc;
 }
 
 .suscribe-button {
     width: 100%;
     max-width: 100%;
     height: 80px;
     margin-top: 20px;
     margin-left: 0px;
     padding: 15px 30px;
     display: block;
     background-color: #072ac8;
     font-size: 17px;
     color: white;
     border: 0;
     line-height: inherit;
     text-decoration: none;
     cursor: pointer;
     border-radius: 0;
 }
 /* 7. FOOTER */
 
 .footer-logo {
     align-items: center;
     display: flex;
     width: 260px;
     max-width: 260px;
     flex-direction: column;
 }
 
 .footer-logo img {
     width: 100px;
     height: 30px;
     margin-bottom: 30px;
 }
 
 .footer-logo p {
     text-align: center;
     font-size: 17px;
     line-height: 150%;
     color: #6b708d;
 }
 
 .footer-links {
     margin-top: 20px;
     display: grid;
     grid-auto-columns: 1fr;
     grid-column-gap: 16px;
     grid-row-gap: 16px;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: auto;
 }
 
 .footer-links a {
     font-size: 17px;
     text-decoration: none;
     color: #072ac8;
     ;
 }
 
 .footer-box {
     padding-bottom: 100px;
 }
 /* CONTACT.HTML */
 
 .contact-box-box {
     align-items: stretch;
 }
 
 .contact-principal-title {
     margin-top: 0;
     text-align: left;
     margin-bottom: 40px;
     font-size: 40px;
 }
 
 .contact-form {
     grid-auto-columns: 1fr;
     max-width: 100%;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: auto auto auto auto auto;
     display: grid;
     grid-column-gap: 16px;
     grid-row-gap: 16px;
 }
 
 .contact-text {
     max-width: 100%;
     grid-row-start: span 1;
     grid-row-end: span 1;
     grid-column-start: span 4;
     grid-column-end: span 4;
 }
 
 label {
     display: block;
 }
 
 .contact-text-title {
     margin-bottom: 10px;
     color: #6b708d;
     font-size: 20px;
     font-weight: 400;
 }
 
 .contact-input-text {
     width: 100%;
     height: 70px;
     padding-left: 20px;
     border: 1px none #000;
     background-color: rgba(107, 112, 141, 0.1);
     display: block;
     padding: 8px 12px;
     margin-bottom: 10px;
     font-size: 16px;
     line-height: 1.42857143;
     color: #333333;
 }
 
 .textarea {
     height: 200px;
 }
 
 .submit-button {
     margin-top: 0;
     grid-row-start: span 1;
     grid-row-end: span 1;
     grid-column-start: span 4;
     grid-column-end: span 4;
 }
 /* PROJECTS.HTML */
 
 .projects-principal-title {
     margin-top: 20px;
     text-align: left;
     margin-bottom: 10px;
     font-size: 40px;
 }
 
 .project-date-box {
     display: flex;
     margin-top: 10px;
 }
 
 .date-text-1 {
     font-size: 20px;
     margin-right: 5px;
 }
 
 .date-text-2 {
     font-size: 20px;
     color: #6b708d;
 }
 
 .img-box {
     margin-top: 40px;
     position: relative;
 }
 
 .project-img {
     width: 100%;
     height: 444px;
     object-fit: cover;
 }
 
 .project-img-effect {
     position: absolute;
     left: 0%;
     top: 0%;
     right: auto;
     bottom: auto;
     z-index: -1;
     width: 100%;
     height: 444px;
     opacity: 0.4;
     filter: saturate(200%) blur(40px);
     transform: translate(0px, 0px);
     transition: opacity 200ms ease;
     object-fit: cover;
 }
 
 .text-box {
     margin: 70px 0;
 }
 
 .text-box p {
     font-size: 20px;
     line-height: 30px;
 }
 /* HIDE FOR MOVILE VERSION */
 
 @media only screen and (max-width: 768px) {
     .mov-version-hidden {
         display: none;
     }
 }
 /* ----FORMATO DESKTOP---------------------- */
 
 @media only screen and (min-width: 768px) {
     /* general styles */
     .section-box {
         padding-top: 100px;
         margin-right: auto;
         margin-left: auto;
     }
     h1 {
         font-size: 60px;
         text-align: left;
     }
     h2 {
         font-size: 40px;
         text-align: left;
     }
     h4 {
         font-size: 24px;
     }
     /* header MENU */
     header {
         margin-top: 70px;
     }
     .navbar {
         max-width: 1100px;
         margin-right: auto;
         margin-left: auto;
         padding: 0;
     }
     .nav-menu {
         position: relative;
         display: flex;
         flex-direction: row;
         text-align: center;
         align-items: center;
         justify-content: center;
         background-color: transparent;
         width: fit-content;
     }
     .hamburger {
         display: none;
         cursor: pointer;
     }
     .contact-us-button {
         padding: 15px 30px;
         font-size: 17px;
         display: block;
     }
     /* 1. Section PRESENTATION */
     .presentation-box {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: row;
     }
     .presentation-text-content {
         align-items: flex-start;
         flex-wrap: nowrap;
         justify-content: space-around;
         text-align: left;
         max-width: 530px;
     }
     .presentation-text-content p {
         text-align: left;
         font-size: 20px;
     }
     .presentation-button-content {
         display: flex;
         flex-direction: row-reverse;
         align-content: center;
     }
     .presentation-button-content a {
         padding-left: 0;
     }
     .presentation-img-content {
         position: relative;
         display: block;
     }
     .presentation-img-card-1 {
         position: absolute;
         left: -9vh;
         top: 0vw;
         right: auto;
         bottom: auto;
         width: 250px;
         max-width: 100%;
     }
     .presentation-img-card-2 {
         position: absolute;
         left: auto;
         bottom: -9vw;
         right: -6vh;
         top: auto;
         width: 250px;
         max-width: 100%;
     }
     /* 2. Section LOGOS */
     .logos-box {
         margin-top: 150px;
     }
     .logos-container {
         margin-top: 0px;
     }
     .section-logos-grid {
         grid-column-gap: 16px;
         grid-row-gap: 16px;
         grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
         grid-template-rows: auto;
     }
     /* 3. Section PROJECTS */
     .container-projects-grid {
         grid-template-columns: 1fr 1fr 1fr;
         grid-template-rows: auto auto;
         margin-top: 50px;
     }
     /* 4. Section CLIENT */
     .client-box {
         margin-top: 200px;
         padding-top: 0;
         position: relative;
     }
     .section-client {
         height: 622px;
     }
     .section-client h2 {
         text-align: center;
         max-width: 100%;
     }
     .emoji {
         width: 150px px;
         height: 150px;
     }
     .emoji-top-left {
         position: absolute;
         left: 0%;
         top: 0%;
         right: auto;
         bottom: auto;
         margin-top: 5%;
         margin-left: 10%;
     }
     .emoji-bottom-right {
         position: absolute;
         left: auto;
         top: auto;
         right: 0%;
         bottom: 0%;
         margin-right: 10%;
         margin-bottom: 5%;
     }
     .emoji-bottom-left {
         position: absolute;
         left: 0%;
         top: auto;
         right: auto;
         bottom: 0%;
         margin-bottom: 5%;
         margin-left: 10%;
     }
     .emoji-top-right {
         position: absolute;
         left: auto;
         top: 0%;
         right: 0%;
         bottom: auto;
         margin-top: 5%;
         margin-right: 10%;
     }
     /* 5. Section SERVICES */
     .services-grid {
         margin-top: 70px;
         grid-template-columns: 1fr 1fr 1fr;
         grid-template-rows: auto;
     }
     .services-card {
         max-width: 340px;
     }
     /* 6. Section FORM */
     .section-box {
         padding-top: 0;
     }
     .form-buttons-box {
         margin-top: 20px;
     }
     .form-buttons {
         flex-direction: row;
         align-items: flex-end;
         align-content: flex-start;
         flex-wrap: nowrap;
     }
     .imput-text-button input {
         width: 393px;
         margin-right: 20px;
     }
     .suscribe-button {
         margin: 0;
         padding-right: 60px;
         padding-left: 60px;
     }
     /* 7. FOOTER */
     .footer-box-box {
         flex-direction: row;
         align-items: stretch;
     }
     .footer-logo {
         align-items: flex-start;
     }
     .footer-logo p {
         text-align: left;
     }
     /* CONTACT.HTML */
     .contact-box-box {
         margin-top: 20px;
         align-items: stretch;
     }
     .contact-principal-title {
         font-size: 60px;
         margin-bottom: 80px;
         line-height: 110%;
     }
     .contact-form {
         grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
         grid-template-rows: auto auto auto auto auto auto;
     }
     .contact-text {
         grid-column-start: span 6;
         grid-column-end: span 6;
     }
     .contact-input-text {
         padding-left: 20px;
     }
     .form-name {
         grid-row-start: span 1;
         grid-row-end: span 1;
         grid-column-start: span 6;
         grid-column-end: span 6;
     }
     .form-email {
         grid-row-start: span 1;
         grid-row-end: span 1;
         grid-column-start: span 3;
         grid-column-end: span 3;
     }
     .form-phone {
         grid-row-start: span 1;
         grid-row-end: span 1;
         grid-column-start: span 3;
         grid-column-end: span 3;
     }
     .form-text {
         grid-row-start: span 3;
         grid-row-end: span 3;
         grid-column-start: span 6;
         grid-column-end: span 6;
     }
     .suscribe-button {
         grid-row-start: span 3;
         grid-row-end: span 3;
         grid-column-start: span 6;
         grid-column-end: span 6;
         margin-left: 0px;
     }
     /* PROJECTS.HTML */
     .projects-principal-title {
         font-size: 60px;
         margin: 0;
     }
     .contact-subtitle-box {
         margin-bottom: 80px;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: self-end;
     }
     .contact-subtitle-box h4 {
         margin: 0;
     }
 }